*
!admin/
!admin/**
!docker/
!docker/**
!meet/
!meet/**
!server/
!server/**
!web/
!web/**

**/.DS_Store
**/.env
**/.env.*
**/backups/
**/build/
**/config.json
**/credentials.json
**/dist/
**/generated/
**/node_modules/
**/secrets/
**/*.key
**/*.p8
**/*.p12
**/*.pem
